.container {
    padding: 40px 0;
}

#select {
    background: #ffffff;
    color: #000000;
    border: solid 1px #cccccc;
}

#pill-active {
    background: #eeeeee;
    color: #000000;
    border-radius: 40px;
}

nav {
    margin-bottom: 30px;
}

.nav-link {
    color: #000000;
}

.nav-link:hover {
    color: #cccccc;
}

.row img {
    border-radius: 10px;
}

#card-row {
    margin-top: 10px;
}

#card-row img {
    height: 40px;
    border-radius: 50%;
}

#card-row p {
    font-size: 20px;
}